*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fcfaf9;
  --slate: #191826;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
  color: var(--slate);
}

a {
  font-family: inherit;
  color: inherit;
}

p {
  font-size: clamp(1rem, 0.8742rem + 0.5369vw, 1.25rem);
  font-weight: 400;
}

footer p {
  font-size: 1rem; /* 16px */
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2.5rem, 0.9899rem + 6.443vw, 5.5rem);
}

h2 {
  font-size: 2.5rem; /* 40px */
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1120px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.btn--solid {
  display: block;
  text-decoration: none;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: var(--slate);
  color: var(--white);
  border-radius: 0.75rem;

  p {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.8em;
  }
}

.btn--solid--inverted {
  background-color: var(--white);
  color: var(--slate);
}
