*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 700;
}

p {
  font-weight: 400;
}

:root {
  /* COLORS */
  --cyan: #66e2dc;
  --orange: #fa7453;
  --yellow: #ffb964;
  --white: #fcfaf9;
  --slate: #191826;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1120px;
}
